<div class="row">
    <h5 class="my-titre indigo-text">
        <b>{{titre}} {{nomProvince}}</b>
    </h5>
    <div class="col s4 carte-mada">
        <img *ngIf="nomProvince == 'Antananarivo'" [src]="image" usemap="#image-map">

        <map name="image-map" *ngIf="nomProvince == 'Antananarivo'">
            <area (mouseover)="changeImage($event)" (mouseout)="resetImage($event)" (click)="detailRegion($event)" target="" alt="Analamanga"
                title="Analamanga" coords="195,203,205,226,217,273,236,304,256,319,272,346,285,354,304,361,303,372,313,377,320,404,331,407,331,424,337,447,355,455,370,469,378,467,387,448,388,423,381,416,385,395,386,336,397,295,393,249,386,223,375,198,355,197,341,213,322,222,304,206,300,194,278,200,266,208,234,209,233,189"
                shape="poly">
            <area (mouseover)="changeImage($event)" (mouseout)="resetImage($event)" (click)="detailRegion($event)" target="" alt="Itasy"
                title="Itasy" coords="272,347,239,343,213,341,192,381,205,407,189,405,181,413,172,429,155,442,143,452,155,457,174,450,198,449,205,452,211,446,229,434,242,423,257,420,267,420,271,444,284,444,291,446,296,432,314,431,323,418,318,392,312,376,304,375,302,356"
                shape="poly">
            <area (mouseover)="changeImage($event)" (mouseout)="resetImage($event)" (click)="detailRegion($event)" target="" alt="Vakinakaratra"
                title="Vakinakaratra" coords="149,457,126,456,108,458,82,461,84,473,92,486,105,498,96,506,94,521,100,530,112,531,130,538,145,554,155,547,163,550,160,566,167,576,177,582,192,581,204,581,226,586,239,586,263,574,283,563,292,551,307,549,322,553,338,557,364,555,352,527,377,523,380,506,374,472,352,455,332,437,325,410,312,430,303,433,297,434,294,448,277,443,268,426,258,420,232,429,220,439,206,452,179,449"
                shape="poly">
            <area (mouseover)="changeImage($event)" (mouseout)="resetImage($event)" (click)="detailRegion($event)" target="" alt="Bongolava"
                title="Bongolava" coords="192,197,164,211,145,215,127,208,115,220,99,238,76,253,67,282,70,311,62,339,55,360,57,374,74,400,73,415,89,426,103,422,100,449,142,455,159,441,168,420,184,405,202,402,191,385,210,339,227,337,256,348,268,343,236,304,211,269,210,235"
                shape="poly">
        </map>
    </div>
    <div class="col s7 my-s7">
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card-panel blue darken-3 row">
                    <div class="col s3 my-icon">
                        <h1>
                            <i class="material-icons white-text large">people</i>
                        </h1>
                    </div>
                    <div class="col s9">
                        <p class="card-chiffre card-nombre">{{total + 12000 | number}}</p>
                    </div>
                    <div class="col s12">
                        <p class="card-detail-text">Total Electeur(s)</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card-panel green row">
                    <div class="col s4 my-icon">
                        <h1>
                            <i class="material-icons white-text large">check</i>
                        </h1>
                    </div>
                    <div class="col s8">
                        <p class="card-chiffre">{{percent | number:'2.1-1'}}%</p>
                    </div>
                    <div class="col s12">
                        <p class="card-detail-text">Vote</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card-panel red row hoverable">
                    <div class="col s4 my-icon">
                        <h1>
                            <i class="material-icons white-text large">close</i>
                        </h1>
                    </div>
                    <div class="col s8">
                        <p class="card-chiffre">{{ abstinance | number:'2.1-1' }}%</p>
                    </div>
                    <div class="col s12">
                        <p class="card-detail-text">Abstinant</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin row -->
    </div>
    <!-- fin cols7 -->
    <div class="col s8 my-s7">
        <table class="highlight centered responsive-table">
            <thead class="teal darken-3">
                <tr>
                    <th>Candidat</th>
                    <th>Mouvance</th>
                    <th>nombre de vote</th>
                    <th>pourcentage de vote</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of data.candidatList">
                    <td>
                        <b>{{ c.candidat.representant }}</b>
                    </td>
                    <td>
                        {{ c.candidat.mouvance }}
                    </td>
                    <td>
                        {{ c.nombre }}
                    </td>
                    <td>
                        {{ getPourcentage(c.nombre) | number }}%
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Vote Blanc</b>
                    </td>
                    <td>
                    </td>
                    <td>
                        {{ data.blanc }}
                    </td>
                    <td>
                        {{ getPourcentage(data.blanc) | number}}%
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<!-- fin row -->