<div class="navbar">
  <nav class="nav-extended {{color}} darken-3">
    <div class="nav-wrapper">
      <a class="brand-logo center white-text">
        <strong>{{title}}</strong>
      </a>
    </div>
  </nav>
</div>

<div class="body centreo {{bgColor}}">
  <div class="section"></div>

  <h5 class="{{color}}-text text-darken-3">Connectez-vous</h5>
  <div class="section"></div>

  <div class="container">
    <div class="z-depth-1 grey lighten-4 row login-box">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class='input-field col s12'>
          <input type='email' id='email' [(ngModel)]="newUser.email" formControlName="email">
          <label for='email'>Adresse email</label>
        </div>
        <div class='input-field col s12'>
          <input type='password' id='password' [(ngModel)]="newUser.password" formControlName="password">
          <label for='password'>Mot de passe</label>
        </div>
        <div class="my-divider"></div>
        <br>
        <div class="centreo">
          <div class='row'>
            <button type='submit' class='col s12 btn btn-large waves-effect {{color}} darken-3' [disabled]="!loginForm.valid">Se Connecter</button>
          </div>
        </div>
      </form>
    </div>
    <!-- form validation error zone -->
    <p class="red-text text-darken-2">{{error}}</p>
    <!------ email error -------->
    <div *ngIf="loginForm.controls.email.errors && (loginForm.controls.email.dirty || loginForm.controls.email.touched)">
      <p class="red-text text-darken-2" [hidden]="!loginForm.controls.email.errors">
        Le champs Adresse email est invalide
      </p>
    </div>
    <!------ password error -------->
    <div *ngIf="loginForm.controls.password.errors && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
      <p class="red-text text-darken-2" [hidden]="!loginForm.controls.password.errors">
        Le champs Mot de passe est vide
      </p>
    </div>
  </div>
  <!-- fin container -->
  <a class="{{color}}-text text-darken-3" routerLink="/signin">Créer un nouveau compte</a>
</div>