<div class="row">
    <h5 class="my-titre indigo-text">
        <b>{{titre}} {{nomRegion}}</b>
    </h5>
    <div class="col s4 carte-mada">
        <img *ngIf="nomRegion == 'Analamanga'" [src]="image" usemap="#image-map">

        <map name="image-map" *ngIf="nomRegion == 'Analamanga'">
            <area (mouseover)="changeImage($event)" (mouseout)="resetImage($event)" (click)="detailDistrict($event)" target="" alt="Ambohidratrimo"
                title="Ambohidratrimo" coords="207,438,219,444,232,448,238,450,245,462,243,470,243,478,261,483,272,474,278,463,284,461,291,445,295,439,298,428,306,420,316,412,317,393,312,372,314,358,305,357,301,369,285,347,274,352,264,354,253,364,244,375,235,395,231,408,219,429"
                shape="poly">
            <area (mouseover)="changeImage($event)" (mouseout)="resetImage($event)" (click)="detailDistrict($event)" target="" alt="Andramasina"
                title="Andramasina" coords="291,544,282,557,291,571,293,585,303,606,317,623,339,627,350,638,364,658,370,660,381,647,378,632,382,622,390,612,394,581,388,555,353,550,344,547,336,539,331,546,322,538,314,546"
                shape="poly">
            <area (mouseover)="changeImage($event)" (mouseout)="resetImage($event)" (click)="detailDistrict($event)" target="" alt="Anjozorobe"
                title="Anjozorobe" coords="282,202,283,235,285,260,275,271,270,292,272,310,280,312,269,334,265,352,285,350,299,366,306,357,325,367,338,357,347,377,357,400,377,408,396,403,403,378,411,347,415,320,407,276,405,239,394,211,378,179,365,159,332,161,322,183,323,199,305,204,292,211"
                shape="poly">
            <area (mouseover)="changeImage($event)" (mouseout)="resetImage($event)" (click)="detailDistrict($event)" target="" alt="Ankazobe"
                title="Ankazobe" coords="49,154,41,177,59,205,73,246,80,289,102,330,120,355,143,361,158,380,168,406,193,432,200,436,220,428,228,411,232,393,259,354,273,325,275,312,268,296,278,265,282,243,280,205,254,192,244,170,230,160,213,164,191,170,162,183,118,181,106,149"
                shape="poly">
            <area (mouseover)="changeImage($event)" (mouseout)="resetImage($event)" (click)="detailDistrict($event)" target="" alt="Antananarivo-Atsimondrano"
                title="Antananarivo Atsimondrano" coords="262,484,275,539,291,543,315,543,317,529,312,510,297,496,284,489,279,469"
                shape="poly">
            <area (mouseover)="changeImage($event)" (mouseout)="resetImage($event)" (click)="detailDistrict($event)" target="" alt="Antananarivo Avaradrano"
                title="Antananarivo Avaradrano" coords="290,464,301,476,303,489,293,494,310,513,321,539,330,541,335,528,344,524,339,510,328,508,326,468,332,450,317,432,307,421,291,437"
                shape="poly">
            <area (mouseover)="changeImage($event)" (mouseout)="resetImage($event)" (click)="detailDistrict($event)" target="" alt="Antananarivo-Renivohitra"
                title="Antananarivo Renivohitra" coords="277,464,282,487,293,492,305,483,293,464" shape="poly">
            <area (mouseover)="changeImage($event)" (mouseout)="resetImage($event)" (click)="detailDistrict($event)" target="" alt="Manjakandriana"
                title="Manjakandriana" coords="308,419,328,441,329,479,327,504,336,510,345,528,336,537,352,546,389,554,383,529,390,496,392,460,392,408,367,405,350,392,340,369,336,356,325,363,315,363,316,387,325,404,323,413"
                shape="poly">
        </map>
    </div>
    <div class="col s7 my-s7">
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card-panel blue darken-3 row">
                    <div class="col s3 my-icon">
                        <h1>
                            <i class="material-icons white-text large">people</i>
                        </h1>
                    </div>
                    <div class="col s9">
                        <p class="card-chiffre card-nombre">{{total + 3100 | number}}</p>
                    </div>
                    <div class="col s12">
                        <p class="card-detail-text">Total Electeur(s)</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card-panel green row">
                    <div class="col s4 my-icon">
                        <h1>
                            <i class="material-icons white-text large">check</i>
                        </h1>
                    </div>
                    <div class="col s8">
                        <p class="card-chiffre">{{percent | number:'2.1-1'}}%</p>
                    </div>
                    <div class="col s12">
                        <p class="card-detail-text">Vote</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card-panel red row hoverable">
                    <div class="col s4 my-icon">
                        <h1>
                            <i class="material-icons white-text large">close</i>
                        </h1>
                    </div>
                    <div class="col s8">
                        <p class="card-chiffre">{{ abstinance | number:'2.1-1' }}%</p>
                    </div>
                    <div class="col s12">
                        <p class="card-detail-text">Abstinant</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin row -->
    </div>
    <!-- fin cols7 -->
    <div class="col s8 my-s7">
        <table class="highlight centered responsive-table">
            <thead class="teal darken-3">
                <tr>
                    <th>Candidat</th>
                    <th>Mouvance</th>
                    <th>nombre de vote</th>
                    <th>pourcentage de vote</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of data.candidatList">
                    <td>
                        <b>{{ c.candidat.representant }}</b>
                    </td>
                    <td>
                        {{ c.candidat.mouvance }}
                    </td>
                    <td>
                        {{ c.nombre }}
                    </td>
                    <td>
                        {{ getPourcentage(c.nombre) | number }}%
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Vote Blanc</b>
                    </td>
                    <td>
                    </td>
                    <td>
                        {{ data.blanc }}
                    </td>
                    <td>
                        {{ getPourcentage(data.blanc) | number}}%
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<!-- fin row -->