<div class="row">
    <h5 class="my-titre indigo-text">{{titre}}</h5>
    <div class="col s12">
      <div class="row">
        <div class="col s12 m6 l4">
          <div class="card-panel blue darken-3 row">
            <div class="col s3 my-icon">
              <h1>
                <i class="material-icons white-text large">people</i>
              </h1>
            </div>
            <div class="col s9">
              <p class="card-chiffre">{{nombreElecteur | number}}</p>
            </div>
            <div class="col s12">
              <p class="card-detail-text">Total Electeur(s)</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card-panel green row">
            <div class="col s4 my-icon">
              <h1>
                <i class="material-icons white-text large">check</i>
              </h1>
            </div>
            <div class="col s8">
              <p class="card-chiffre">54%</p>
            </div>
            <div class="col s12">
              <p class="card-detail-text">Vote</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card-panel red row hoverable">
            <div class="col s4 my-icon">
              <h1>
                <i class="material-icons white-text large">close</i>
              </h1>
            </div>
            <div class="col s8">
              <p class="card-chiffre">34%</p>
            </div>
            <div class="col s12">
              <p class="card-detail-text">Abstinant</p>
            </div>
          </div>
        </div>
      </div>
      <!-- fin row -->
    </div>
    <!-- fin cols8 -->
    <div class="col s12">
      <table class="highlight centered responsive-table">
        <thead class="teal darken-3">
          <tr>
            <th>Communes</th>
            <th>District</th>
            <th>nombre de vote</th>
            <th>pourcentage de vote</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Itaosy
            </td>
            <td>
              Antananarivo Avaradrano
            </td>
            <td>
              30
            </td>
            <td>
              40%
            </td>
          </tr>
  
        </tbody>
      </table>
    </div>
  </div>
  <!-- fin row -->