<!-------- menu principal  ---------->
<header>
    <div class="navbar">
        <nav class="nav-extended white">
            <div class="nav-wrapper">
                <a data-activates="slide-out" class="left button-collapse indigo-text text-darken-4" materialize="sideNav" [materializeParams]="[{closeOnClick: true}]">
                    <i class="material-icons">menu</i>
                </a>
                <a class="brand-logo center indigo-text text-darken-4">
                    {{title}}
                </a>
                <ul class="right hide-on-med-and-down">
                    <li *ngIf="InValidation">
                        <a routerLink="validation">
                            <i class="material-icons indigo-text text-darken-3 my-badge">notifications</i>
                            <span class="badge white-text red darken-3 my-round-badge">57</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!---------- menu latéral ---------->
<ul id="slide-out" class="side-nav">
    <li>
        <a routerLink="dashboard">
            <i class="material-icons">dashboard</i>Tableau de bord
        </a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a routerLink="validation">
            <i class="material-icons">check</i>Validation des resultats
        </a>
    </li>


</ul>







<router-outlet></router-outlet>