<!-------- menu principal  ---------->
<header>
    <div class="navbar">
        <nav class="nav-extended white">
            <div class="nav-wrapper">
                <a href="#" data-activates="slide-out" class="left button-collapse indigo-text text-darken-4" materialize="sideNav" [materializeParams]="[{closeOnClick: true}]">
                    <i class="material-icons">menu</i>
                </a>
                <a class="brand-logo center indigo-text text-darken-4">
                    Ndao Ifidy
                </a>
            </div>
        </nav>
    </div>
</header>
<!---------- menu latéral ---------->
<ul id="slide-out" class="side-nav">
    <!-- <li>
        <div class="userView">
            <div class="background">
                <img [src]="drapeau">
            </div>
            <div class="centreo">
                <a routerLink="">
                    <span class="circle {{getColor()}}">S</span>
                </a>
                <a routerLink="">
                    <span class="grey-text">Nom d'utilisateur</span>
                </a>
                <a routerLink="">
                    <span class="grey-text">Fokotany</span>
                </a>
            </div>
        </div>
    </li> -->
    <li>
        <a href="#">
            <i class="material-icons">dashboard</i>Tableau de bord
        </a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Archives
                    <i class="material-icons">archive</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="#">Election 2014</a>
                        </li>
                        <li>
                            <a href="#">Election 2015</a>
                        </li>
                        <li>
                            <a href="#">Election 2016</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a href="#">
            <i class="material-icons">people</i>Candidats
        </a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a href="#">
            <i class="material-icons">dashboard</i>Province
        </a>
    </li>
    <li>
        <a href="#">
            <i class="material-icons">dashboard</i>Region
        </a>
    </li>
    <li>
        <a href="#">
            <i class="material-icons">dashboard</i>Fokontany
        </a>
    </li>
    
   
</ul>







<router-outlet></router-outlet>