<div class="row">
  <h5 class="my-titre indigo-text">
    {{titre}}
  </h5>
  <div class="col s5">
    <img [src]="data.imageUrl" width="500" heigth="500">
  </div>
  <div class="col s7">
    <div class="row">
      <div class="input-field col s6" *ngFor="let traite of data.candidatList">
        <input value="{{traite.nombre}}" id="{{traite.candidat.representant}}" type="number">
        <label class="active" for="{{traite.candidat.representant}}">{{traite.candidat.representant}}</label>
      </div>
      <div class="input-field col s6">
        <input value="{{data.blanc}}" id="blanc" type="number">
        <label class="active" for="blanc">Vote Blanc</label>
      </div>
      <div class="col s12">
          <button class="btn large red darken-3">
              <i class="material-icons left" (click)="refuser()">delete</i> Refuser
            </button>
        <button class="btn large amber darken-3">
          <i class="material-icons left" (click)="enregistrer(data.id)">save</i> Valider
        </button>
      </div>

    </div>
  </div>
</div>