<app-menu></app-menu>

<main class="row">
    <h5 class="my-titre {{color}}-text text-darken-3">
        <b>{{titre}}</b>
    </h5>
    <div id="ajax-loader"><img src="/assets/images/rubickspreloader.gif" /><p>Chargement en cours ...</p></div>
    <div class="col s12 m6 l4">
        <div class="centreo">
            <button class="btn amber">
                <i class="material-icons">edit</i>
            </button>
            <button class="btn red">
                <i class="material-icons">delete</i>
            </button>
        </div>
        <div class="card-panel amber darken-1 row" (click)="voirDetail('amber','Vazo milay')">
            <div class="col s3 card-icone">
                <i class="material-icons">video_library</i>
            </div>
            <div class="col s9">
                <p class="card-chiffre">
                    <span>3</span> Video(s)</p>
            </div>
            <div class="col s12">
                <p class="card-detail-text">Vazo milay</p>
            </div>
        </div>
    </div>
    <!-- fin col s12 m6 l4 -->
    <div class="col s12 m6 l4">
        <div class="centreo">
            <button class="btn amber">
                <i class="material-icons">edit</i>
            </button>
            <button class="btn red">
                <i class="material-icons">delete</i>
            </button>
        </div>
        <div class="card-panel indigo darken-1 row" (click)="voirDetail('indigo','Dota wtf moment')">
            <div class="col s3 card-icone">
                <i class="material-icons">video_library</i>
            </div>
            <div class="col s9">
                <p class="card-chiffre">
                    <span>45</span> Video(s)</p>
            </div>
            <div class="col s12">
                <p class="card-detail-text">Dota wtf moment</p>
            </div>
        </div>
    </div>
    <!-- fin col s12 m6 l4 -->
    <div class="col s12 m6 l4">
        <div class="centreo">
            <button class="btn amber">
                <i class="material-icons">edit</i>
            </button>
            <button class="btn red">
                <i class="material-icons">delete</i>
            </button>
        </div>
        <div class="card-panel grey darken-1 row" (click)="voirDetail('grey', 'dota major 2018')">
            <div class="col s3 card-icone">
                <i class="material-icons">video_library</i>
            </div>
            <div class="col s9">
                <p class="card-chiffre">
                    <span>15</span> Video(s)</p>
            </div>
            <div class="col s12">
                <p class="card-detail-text">dota major 2018</p>
            </div>
        </div>
    </div>
    <!-- fin col s12 m6 l4 -->
    <div class="col s12 m6 l4">
        <div class="centreo">
            <button class="btn amber">
                <i class="material-icons">edit</i>
            </button>
            <button class="btn red">
                <i class="material-icons">delete</i>
            </button>
        </div>
        <div class="card-panel cyan darken-1 row" (click)="voirDetail('cyan', 'Tutoriel angular5')">
            <div class="col s3 card-icone">
                <i class="material-icons">video_library</i>
            </div>
            <div class="col s9">
                <p class="card-chiffre">
                    <span>4</span> Video(s)</p>
            </div>
            <div class="col s12">
                <p class="card-detail-text">Tutoriel angular5</p>
            </div>
        </div>
    </div>
    <!-- fin col s12 m6 l4 -->
</main>
<div class="fixed-action-btn">
    <button class="btn-floating btn-large waves-effect z-depth-3 waves-light blue darken-3">
        <i class="material-icons">add</i>
    </button>
</div>
<!-- fin row -->

<!-- modal ajouter -->
<div class="modal">
    <div class="modal-content">
        <h5 class="center {{addColor}}-text">Ajouter une playlist</h5>
        <div class="input-field">
            <input id="playlist" name="playlist" type="text" required>
            <label for="playlist">Père</label>
        </div>
        <div class="input-field">
            <label for="priorite">Couleur</label>
            <select id="priorite" materialize="material_select">
                <option value="">choisissez une couleur</option>
                <option *ngFor="let i of [1,2,3]" [value]="i">{{i}}</option>
            </select>
        </div>
        <div class="centreo">
            <button type="submit" class="btn green darken-1">
                <i class="material-icons left">done</i>Enregistrer
            </button>
        </div>
    </div>
</div>