/*-------- sidenav --------------*/
.side-nav .divider {
 margin: 8px 0 8px 0 !important;
}
.my-divider{
    overflow: hidden;
    padding: 5px;
}
a{
    cursor: pointer ;
}
.centreo{
    margin: auto;
    text-align: center;
}
.righteo{
    position: relative;
    float: right;
    top:5px;
}
.nom_badge{
    padding:8px 22px;
    margin:auto;
    font-size: 25px;
    color: white;
    line-height: 45px;
}
.side-nav .userView, .side-nav .userView .centreo {
    height: 200px !important;
    line-height: 10px !important;
}
.my-dropdown{
    width:250px !important;
    overflow: hidden !important;
    position: absolute !important;
    top:65px !important;
}

header, main {
    padding-left: 300px;
} 
@media only screen and (max-width : 992px) {
    header, main {
    padding-left: 0;
    } 
}
/*-------- fin sidenav ----------*/
.my-titre{
    margin-left: 30px;
}

@media only screen and (max-width: 992px){
    .hide-on-med-and-down {
        display: block !important;
    }
}

#ajax-loader{
    /* text-align:center;
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.9);
    z-index:3; */
 }
 #ajax-loader{
    text-align: center;
    margin-top:10%;
    color:#aaa;
 }
 #ajax-loader > p{
    font-weight: bold;
 }

 .vide{
    height: 400px;
 }
 .vide p{
    color: #000;
    text-align: center;
    width: 100%;
 }




